<div class="mt-100 container">
    <div class="account">
        <span id="or-text">Or</span>
        <div class="login">
            <form method="post" action="/login">
                <h3>Đăng nhập</h3>
                {{#if errLogin}}
                    <div class="alert alert-danger" role="alert">
                        {{errLogin}}
                    </div>
                {{/if}}
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{oldLogin.email}}">

                <label for="password">Mật khẩu</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                <input type="submit" name="btn" id="" value="Đăng nhập">
                <a href="/forgot">Quên mật khẩu?</a>
            </form>
        </div>
        <div class="register" id="compareForm">
            <form action="/sign-up" method="post">
                <h3>Đăng ký</h3>
                {{#if errSignUp}}
                    <div class="alert alert-danger" role="alert">
                        {{errSignUp}}
                    </div>
                {{/if}}

                {{#if sucessSignUp}}
                    <div class="alert alert-success" role="alert">
                        {{sucessSignUp}}
                    </div>
                {{/if}}
                <label for="">Họ Tên</label>
                <input type="text" name="name" id="" value="{{old.name}}">
                <label for="">Email</label>
                <input type="email" name="email" id="" value="{{old.email}}">
                <label for="">Số Điện Thoại</label>
                <input type="phone" name="phone" id="" value="{{old.phone}}">
                <label for="">Mật Khẩu</label>
                <input type="password" name="password" id="password1">
                <label for="">Nhắc Lại Mật Khẩu</label>
                <input type="password" name="confirm_password" id="password2">
                <input type="submit" name="" id="" value="Đăng kí">
            </form>

        </div>
    </div>
</div>