<div class="container">
    <div class="cart-list">
        <table class="table mt-5">
            <thead class="thead-light">
                <tr>
                    <th class="table-product">Sản Phẩm</th>
                    <th>Đơn Giá</th>
                    <th>Số Lượng</th>
                    <th>Số Tiền</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row border-top cart-total mt-5">
        <div class="col "></div>
        <div class="col">
            <div class="row">
                <div class="col mt-2">
                    <ul>
                        <li>Tổng Tiền Hàng</li>
                        <li>Phí Vận Chuyển</li>
                    </ul>
                </div>
                <div class="col text-right">
                     <ul>
                        <li>250.000 đ</li>
                        <li>30.000 đ</li>
                    </ul>
                </div>
            </div>
            <div class="row border-top total">
                 <div class="col mt-2">
                    <ul>
                        <li>Tổng Tiền</li>
                    </ul>
                </div>
                <div class="col text-right">
                     <ul>
                        <li>280.000 đ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>