<div class="container">
    <div class="box-wishlist mt-top">
        <div class="wishlist-title row">
            <div class="col-6">
                <p>DANH SÁCH YÊU THÍCH</p>
            </div>
            <div class="col-6">
                <p style="float: right;">2 mặt hàng</p>
            </div>
        </div>

        <div class="wishlist-content">
            {{#if user.wishlistItems}}
            {{#each user.wishlistItems}}
            <div class="card mb-3">
                <form action="/shoes/add-to-cart" method="post">
                    <div class="row no-gutters">
                        <div class="col-md-3">
                            <img src="/uploads/{{this.shoe.image}}" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h2 class="card-title">{{this.shoe.name}}</h2>
                                <p class="card-text"><b>Giá:</b> {{this.shoe.price}}.000 VND</p>
                                {{!-- <p class="card-text"><b>Size:</b> {{this.size}}</p> --}}
                                <select name="size" class="form-control" id="" style="width: 10%;">
                                    <option {{#ifEquals this.size "36" }}selected{{/ifEquals}} value="36">36</option>
                                    <option {{#ifEquals this.size "37" }}selected{{/ifEquals}} value="37">37</option>
                                    <option {{#ifEquals this.size "38" }}selected{{/ifEquals}} value="38">38</option>
                                    <option {{#ifEquals this.size "39" }}selected{{/ifEquals}} value="39">39</option>
                                    <option {{#ifEquals this.size "40" }}selected{{/ifEquals}} value="40">40</option>
                                    <option {{#ifEquals this.size "41" }}selected{{/ifEquals}} value="41">41</option>
                                    <option {{#ifEquals this.size "42" }}selected{{/ifEquals}} value="42">42</option>
                                </select>
                                <p class="card-text"><small class="text-muted">Còn hàng</small></p>

                                <p>
                                <div class="row wishlist-btn">
                                    <div class="col-10">
                                        <button type="submit" class="btn btn-block wishlist-add-to-cart"><b>THÊM VÀO GIỎ
                                                HÀNG</b></button>

                                    </div>

                                    <input type="hidden" name="shoeId" value="{{this.shoe._id}}">
                                    <input type="hidden" name="amount" value="1">
                                    {{!-- <input type="hidden" name="size" value="{{this.size}}"> --}}
                </form>
                <div class="col-2">
                    <a href="" class="btn btn-danger btn-block btn-delete-wishlist" data-id="{{this._id}}"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>

</div>
{{/each}}

{{else}}
<div class="text-center mt-3">
        <p>{{wishlistEmpty}}</p>
</div>
{{/if}}



</div>
</div>

</div>

<form name="delete-wishlist-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnDeleteWishlists = document.querySelectorAll('.btn-delete-wishlist');
        var deleteWishlistsForm = document.forms['delete-wishlist-form'];

        btnDeleteWishlists.forEach(function (btnDeleteWishlist) {
            var wishlistItemId = $(btnDeleteWishlist).data('id');
            
         
            btnDeleteWishlist.onclick = function (e) {
                e.preventDefault();
                deleteWishlistsForm.action = '/delete-wishlist/' + wishlistItemId + '?_method=DELETE';
                deleteWishlistsForm.submit();
            };
        });
    })

</script>