<div class="slideshow mt-header">
    <div id="">
        <img loading="lazy" id="image" src="/img/mwc.jpg" alt="Sample Image" width="100%">
    </div>
</div>

<div class="container-fluid">

    <div class=" box-shoe">
        <div class="title-product">
            <a href="/shoes/shoe-type/{{shoeHightType}}">
                <p>GIÀY CAO GÓT NỮ</p>
            </a>
        </div>
        <div class="row">
            {{#each shoeHight}}
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mt-4">
                <div class="img box-shoes">
                    {{#if this.priceDiscount}}
                    <div class="shoes-percent">
                        <span class="pro-sale">SALE<br> OFF </span>
                    </div>
                    {{/if}}
                    <a href="shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid box-img-shoes" src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this.image}}" alt=""
                            width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                {{#if ../currentUser}}
                                {{#if (isInWishlist this._id ../wishlistItems)}}
                                <a href="/wishlist" class="btn"><i class="fa-solid fa-heart heart active"
                                        id="heart"></i></a>
                                {{else}}
                                <form action="/add-wishlist" method="post">
                                    <input type="hidden" name="shoeId" value="{{this._id}}">
                                    <input type="hidden" name="size" id="wishlistSize" value="36">
                                    <button type="button" class="btn btn-heart add-to-wishlist"
                                        data-shoe-id="{{this._id}}" data-shoe-size="36"><i
                                            class="fa-solid fa-heart heart" id="heart"></i></button>
                                </form>
                                {{/if}}
                                {{else}}
                                <a href="/login"><i class="fa-solid fa-heart heart" id="heart"></i></a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <div class="row">
                                {{#if this.priceDiscount}}
                                <div class="col"><del>
                                        <p>{{this.price}}.000 <u>đ</u></p>
                                    </del></div>
                                <div class="col">
                                    <p style="color: red; font-weight: bold;">{{this.priceDiscount}}.000 <u>đ</u></p>
                                </div>
                                {{else}}
                                <div class="col">
                                    <p>{{this.price}}.000 <u>đ</u></p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}

        </div>
        <div class="showfull">
            <p><a href="/shoes/shoe-type/{{shoeHightType}}"><u>Xem tất cả</u></a></p>
        </div>
    </div>

    <div class=" box-shoe">
        <div class="title-product">
            <a href="/shoes/shoe-type/{{babyType}}">
                <p>GIÀY BÚP BÊ</p>
            </a>
        </div>
        <div class="row">
            {{#each baby}}
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mt-4">
                {{#if this.priceDiscount}}
                <div class="shoes-percent">
                    <span class="pro-sale">SALE<br> OFF </span>
                </div>
                {{/if}}
                <div class="img box-shoes">
                    {{#if this.priceDiscount}}
                    <div class="shoes-percent">
                        <span class="pro-sale">SALE<br> OFF </span>
                    </div>
                    {{/if}}
                    <a href="shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid box-img-shoes" src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this.image}}" alt=""
                            width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                {{#if ../currentUser}}
                                {{#if (isInWishlist this._id ../wishlistItems)}}
                                <a href="/wishlist" class="btn"><i class="fa-solid fa-heart heart active"
                                        id="heart"></i></a>
                                {{else}}
                                <form action="/add-wishlist" method="post">
                                    <input type="hidden" name="shoeId" value="{{this._id}}">
                                    <input type="hidden" name="size" id="wishlistSize" value="36">
                                    <button type="button" class="btn btn-heart add-to-wishlist"
                                        data-shoe-id="{{this._id}}" data-shoe-size="36"><i
                                            class="fa-solid fa-heart heart" id="heart"></i></button>
                                </form>
                                {{/if}}
                                {{else}}
                                <a href="/login"><i class="fa-solid fa-heart heart" id="heart"></i></a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <div class="row">
                                {{#if this.priceDiscount}}
                                <div class="col"><del>
                                        <p>{{this.price}}.000 <u>đ</u></p>
                                    </del></div>
                                <div class="col">
                                    <p style="color: red; font-weight: bold;">{{this.priceDiscount}}.000 <u>đ</u></p>
                                </div>
                                {{else}}
                                <div class="col">
                                    <p>{{this.price}}.000 <u>đ</u></p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="showfull">
            <p><a href="/shoes/shoe-type/{{babyType}}"><u>Xem tất cả</u></a></p>
        </div>
    </div>

    <div class=" box-shoe">
        <div class="title-product">
            <a href="/shoes/shoe-type/{{sandalType}}">
                <p>DÉP NAM</p>
            </a>
        </div>
        <div class="row">
            {{#each sandal}}
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mt-4">
                <div class="img box-shoes">
                    {{#if this.priceDiscount}}
                    <div class="shoes-percent">
                        <span class="pro-sale">SALE<br> OFF </span>
                    </div>
                    {{/if}}
                    <a href="shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid box-img-shoes" src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this.image}}" alt=""
                            width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                {{#if ../currentUser}}
                                {{#if (isInWishlist this._id ../wishlistItems)}}
                                <a href="/wishlist" class="btn"><i class="fa-solid fa-heart heart active"
                                        id="heart"></i></a>
                                {{else}}
                                <form action="/add-wishlist" method="post">
                                    <input type="hidden" name="shoeId" value="{{this._id}}">
                                    <input type="hidden" name="size" id="wishlistSize" value="36">
                                    <button type="button" class="btn btn-heart add-to-wishlist"
                                        data-shoe-id="{{this._id}}" data-shoe-size="36"><i
                                            class="fa-solid fa-heart heart" id="heart"></i></button>
                                </form>
                                {{/if}}
                                {{else}}
                                <a href="/login"><i class="fa-solid fa-heart heart" id="heart"></i></a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <div class="row">
                                {{#if this.priceDiscount}}
                                <div class="col"><del>
                                        <p>{{this.price}}.000 <u>đ</u></p>
                                    </del></div>
                                <div class="col">
                                    <p style="color: red; font-weight: bold;">{{this.priceDiscount}}.000 <u>đ</u></p>
                                </div>
                                {{else}}
                                <div class="col">
                                    <p>{{this.price}}.000 <u>đ</u></p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="showfull">
            <p><a href="/shoes/shoe-type/{{sandalType}}"><u>Xem tất cả</u></a></p>
        </div>
    </div>

    <div class=" box-shoe">
        <div class="title-product">
            <a href="/shoes/shoe-type/{{bootType}}">
                <p>BOOT NAM</p>
            </a>
        </div>
        <div class="row">
            {{#each boot}}
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mt-4">
                <div class="img box-shoes">
                    {{#if this.priceDiscount}}
                    <div class="shoes-percent">
                        <span class="pro-sale">SALE<br> OFF </span>
                    </div>
                    {{/if}}
                    <a href="shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid box-img-shoes" src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this.image}}" alt=""
                            width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                {{#if ../currentUser}}
                                {{#if (isInWishlist this._id ../wishlistItems)}}
                                <a href="/wishlist" class="btn"><i class="fa-solid fa-heart heart active"
                                        id="heart"></i></a>
                                {{else}}
                                <form action="/add-wishlist" method="post">
                                    <input type="hidden" name="shoeId" value="{{this._id}}">
                                    <input type="hidden" name="size" id="wishlistSize" value="36">
                                    <button type="button" class="btn btn-heart add-to-wishlist"
                                        data-shoe-id="{{this._id}}" data-shoe-size="36"><i
                                            class="fa-solid fa-heart heart" id="heart"></i></button>
                                </form>
                                {{/if}}
                                {{else}}
                                <a href="/login"><i class="fa-solid fa-heart heart" id="heart"></i></a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <div class="row">
                                {{#if this.priceDiscount}}
                                <div class="col"><del>
                                        <p>{{this.price}}.000 <u>đ</u></p>
                                    </del></div>
                                <div class="col">
                                    <p style="color: red; font-weight: bold;">{{this.priceDiscount}}.000 <u>đ</u></p>
                                </div>
                                {{else}}
                                <div class="col">
                                    <p>{{this.price}}.000 <u>đ</u></p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="showfull">
            <p><a href="/shoes/shoe-type/{{bootType}}"><u>Xem tất cả</u></a></p>
        </div>
    </div>

    <div class="sale m-5" style="text-align: center;">
        <img src="/img/sale.png" alt="" width="100%" height="auto">
    </div>
    <div class=" box-shoe">
        <div class="title-product">
            <a href="/shoes/sale">
                <p>SẢN PHẨM SALE ĐẬM SÂU</p>
            </a>
        </div>
        <div class="row">
            {{#each discount}}
            <div class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 mt-4">
                <div class="img box-shoes">
                    {{#if this.priceDiscount}}
                    <div class="shoes-percent">
                        <span class="pro-sale">SALE<br> OFF </span>
                    </div>
                    {{/if}}
                    <a href="shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid box-img-shoes" src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this.image}}" alt=""
                            width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                {{#if ../currentUser}}
                                {{#if (isInWishlist this._id ../wishlistItems)}}
                                <a href="/wishlist" class="btn"><i class="fa-solid fa-heart heart active"
                                        id="heart"></i></a>
                                {{else}}
                                <form action="/add-wishlist" method="post">
                                    <input type="hidden" name="shoeId" value="{{this._id}}">
                                    <input type="hidden" name="size" id="wishlistSize" value="36">
                                    <button type="button" class="btn btn-heart add-to-wishlist"
                                        data-shoe-id="{{this._id}}" data-shoe-size="36"><i
                                            class="fa-solid fa-heart heart" id="heart"></i></button>
                                </form>
                                {{/if}}
                                {{else}}
                                <a href="/login"><i class="fa-solid fa-heart heart" id="heart"></i></a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <div class="row">
                                {{#if this.priceDiscount}}
                                <div class="col"><del>
                                        <p>{{this.price}}.000 <u>đ</u></p>
                                    </del></div>
                                <div class="col">

                                    <p style="color: red; font-weight: bold;">{{this.priceDiscount}}.000 <u>đ</u></p>
                                </div>
                                {{else}}
                                <div class="col">
                                    <p>{{this.price}}.000 <u>đ</u></p>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="showfull">
            <p><a href="/shoes/shoe-type/{{sandalType}}"><u>Xem tất cả</u></a></p>
        </div>
    </div>

</div>

<div class="slideshow mt-5">
    <div id="">
        <img loading="lazy" id="image1" src="/img/mwc3.jpg" alt="Sample Image" width="100%" height="auto">
    </div>
</div>
{{!-- >>>>>>> frontend --}}

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const wishlistButtons = document.querySelectorAll('.add-to-wishlist');

        wishlistButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                const shoeId = this.getAttribute('data-shoe-id');
                const shoeSize = this.getAttribute('data-shoe-size');

                fetch('/add-wishlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ shoeId: shoeId, size: shoeSize })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Xử lý khi thành công, ví dụ: đổi màu trái tim
                            this.querySelector('i.heart').classList.add('active');
                        } else {
                            // Xử lý khi có lỗi
                            alert('Có lỗi xảy ra, vui lòng thử lại!');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    });

</script>