<div class="slideshow mt-62">
    <div id="">
        <img loading="lazy" id="image" src="/img/mwc.jpg" alt="Sample Image" width="100%" height="600px">
    </div>
</div>

<script>
    var image = document.getElementById('image');
    var images = [
        '/img/mwc.jpg',
        '/img/mwc1.jpg'
    ];
    var currentIndex = 0;

    function changeImage() {
        image.src = images[currentIndex];
        currentIndex = (currentIndex + 1) % images.length;
    }

    setInterval(changeImage, 3000);
</script>



<div class=" box-shoe p-3">
    <div class="title-product">
        <a href="/shoes/shoe-type/{{shoeHightType}}">
            <p>Giày Cao Gót Nữ</p>
        </a>
    </div>
    <div class="row">
        {{#each shoeHight}}
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <a href="shoes/{{this.slug}}">
                    <img loading="lazy" class="img-fluid" src="/uploads/{{this.image}}" alt="" width="100%">
                </a>
                <div class="caption">
                    <a href="shoes/{{this.slug}}">
                        <p>{{this.name}}</p>
                    </a>
                    <h3>{{this.price}}.000 đ</h3>
                </div>
            </div>
        </div>

        {{/each}}

    </div>
    <div class="showfull">
        <p><a href="/shoes/shoe-type/{{shoeHightType}}"><u>XEM TẤT CẢ</u></a></p>
    </div>
</div>

<div class=" box-shoe p-3">
    <div class="title-product">
        <a href="/shoes/shoe-type/{{sandalType}}">
            <p>Dép Nam</p>
        </a>
    </div>
    <div class="row">
        {{#each sandal}}
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <a href="shoes/{{this.slug}}">
                    <img loading="lazy" class="img-fluid" src="/uploads/{{this.image}}" alt="" width="100%">
                </a>
                <div class="caption">
                    <a href="shoes/{{this.slug}}">
                        <p>{{this.name}}</p>
                    </a>
                    <h3>{{this.price}}.000 đ</h3>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="showfull">
        <p><a href="/shoes/shoe-type/{{sandalType}}"><u>XEM TẤT CẢ</u></a></p>
    </div>
</div>

<div class=" box-shoe p-3">
    <div class="title-product">
        <a href="">
            <p>Giày Búp Bê</p>
        </a>
    </div>
    <div class="row">
        {{#each baby}}
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <a href="shoes/{{this.slug}}">
                    <img loading="lazy" class="img-fluid" src="/uploads/{{this.image}}" alt="" width="100%">
                </a>
                <div class="caption">
                    <a href="shoes/{{this.slug}}">
                        <p>{{this.name}}</p>
                    </a>
                    <h3>{{this.price}}.000 đ</h3>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="showfull">
        <p><a href="/shoes/shoe-type/{{babyType}}"><u>XEM TẤT CẢ</u></a></p>
    </div>
</div>

<div class=" box-shoe p-3">
    <div class="title-product">
        <a href="">
            <p>Boot Nam</p>
        </a>
    </div>
    <div class="row">
        {{#each boot}}
        <div class="col-md-3 mt-5 ">
            <div class="img">
                <a href="shoes/{{this.slug}}">
                    <img loading="lazy" class="img-fluid" src="/uploads/{{this.image}}" alt="" width="100%">
                </a>
                <div class="caption">
                    <a href="shoes/{{this.slug}}">
                        <p>{{this.name}}</p>
                    </a>
                    <h3>{{this.price}}.000 đ</h3>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="showfull">
        <p><a href="/shoes/shoe-type/{{bootType}}"><u>XEM TẤT CẢ</u></a></p>
    </div>
</div>
{{!-- >>>>>>> frontend --}}
</div>
</div>