<div class="container-fluid">
    <div class="box-shoe" style="margin-top: 115px;">
        <div class="row">
            <div class="col bgsale">
                <p>Thông tin tìm kiếm</p>
            </div>
        </div>
        <div class="filter">
            <div class="row">
                <div class="col form-arrange">
                    <form id="filterForm">
                        <label for="category"><i class="fa-solid fa-sliders"></i></label>
                        <select id="category">
                            <option value="All">Sắp xếp theo</option>
                            <option value="Down">Giá Từ Cao Xuống Thấp</option>
                            <option value="Up">Giá Từ Thấp Lên Cao</option>
                            <option value="AZ">Sắp Xếp Từ A -> Z</option>
                            <option value="ZA">Sắp Xếp Từ Z -> A</option>
                        </select>
                    </form>
                    <div class="row">
                        <form class="form-search">
                            <input class="form-control mr-sm-2 p-3" type="search"
                                placeholder="Gõ vài từ tìm kiếm nào..." aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="shoeContainer">
            {{#each shoes}}
            <div class="col-md-2 mt-4">
                <div class="img" style="border: solid #e6e6e6 1px; height: 330px;">
                    <div class="shoes-percent">
                        <span class="pro-sale">SALE<br> OFF </span>
                    </div>
                    <a href="/shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid" src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this.image}}" alt="" width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                <a href="/shoes/{{this.slug}}"><i class="fa-solid fa-heart heart"></i></a>
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="/shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <div class="row">
                                <div class="col"><del>
                                        <p>{{this.price}}.000đ</p>
                                    </del></div>
                                <div class="col">
                                    <p style="color: red; font-size: 20px;">{{this.price}}.000đ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>