<div class="content-wrapper" style="min-height: 650px;">
    <div class="container-fluid ">
        <div class="content-header">
            <h1 class="mb-2">Chi tiết đơn hàng:</h1>
        </div>

        <div class="row">
            <div class="col-6 col-sm-3">
                <h4><b>Tên khách hàng: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.user.name}}</h4>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                <h4><b>Email: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.user.email}}</h4>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                <h4><b>Số điện thoại: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.shippingAddress.phone}}</h4>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                <h4><b>Địa chỉ: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.shippingAddress.address}}, {{order.shippingAddress.city}}</h4>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                <h4><b>Thanh toán: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.isPaid}}</h4>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                <h4><b>Phương thức thanh toán: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.paymentMethod}}</h4>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                <h4><b>Shipped: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.isDelivered}}</h4>
            </div>

            <div class="w-100"></div>

            <div class="col-6 col-sm-3">
                <h4><b>Tổng tiền: </b> </h4>
            </div>

            <div class="col-6 col-sm-3">
                <h4>{{order.totalPrice}}.000 VND</h4>
            </div>
        </div>
        <hr>
        <h4>Đơn hàng:</h4>
        <table class="table table-stored">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 30%;">Tên</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Size</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng</th>
                </tr>
            </thead>
            <tbody>
                {{#each order.orderItems}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td><img src="/uploads/{{this.image}}" alt="" style="width: 50px;"></td>
                    <td>{{this.size}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.amount}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        <a href="/me/stored/orders" class="btn btn-success mx-sm-3">Quay lại</a>
    </div>
</div>