<div class="content-wrapper">
    <div class="row">
        <div class="col">
            <div class="card mb-2 mt-2 ml-2" style="min-height: 295px;">
                <div class="card-header" style="font-weight: 500; font-size: 20px;">Thông tin khách hàng</div>
                <div class="card-body">
                    <p><strong>Tên khách hàng:</strong> {{order.user.name}}</p>
                    <p><strong>Email:</strong> {{order.user.email}}</p>
                    <p><strong>Số điện thoại:</strong> {{order.shippingAddress.phone}}</p>
                    <p><strong>Địa chỉ giao hàng:</strong> {{order.shippingAddress.address}},
                        {{order.shippingAddress.wardName}}, {{order.shippingAddress.districtName}},
                        {{order.shippingAddress.cityName}}</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-2 mt-2 mr-2" style="min-height: 295px;">
                <div class="card-header" style="font-weight: 500; font-size: 20px;">Chi tiết đơn hàng</div>
                <div class="card-body">
                    <p><strong>Mã đơn hàng:</strong> {{order._id}}</p>
                    {{#if order.note}}
                        <p><strong>Ghi chú đơn hàng:</strong> <i>{{order.note}}</i></p>
                    {{/if}}
                    <p><strong>Ngày đặt hàng:</strong> {{formatDate order.createdAt "Asia/Ho_Chi_Minh" "DD-MM-YYYY H:m:s"}}</p>
                    <p><strong>Trạng thái đơn hàng:</strong> <span class="status pending">{{order.status}}</span></p>
                    <p><strong>Phương thức thanh toán:</strong> {{order.paymentMethod}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Sản phẩm -->
    <div class="card mb-2 ml-2 mr-2">
        <div class="card-header" style="font-weight: 500; font-size: 20px;">Sản phẩm</div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="width: 30%;">Tên</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Size</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Giá</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each order.orderItems}}
                    <tr>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.name}}</td>
                        <td><img src="/uploads/{{this.image}}" alt="" style="width: 50px;"></td>
                        <td>{{this.size}}</td>
                        <td>{{this.amount}}</td>
                        <td>{{this.price}},000 <u>đ</u></td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Tổng tiền hàng:</th>
                        <th class="text-secondary">{{formatCurrency order.itemsPrice}},000 <u>đ</u></th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Phí vận chuyển:</th>
                        <th class="text-secondary">{{order.shippingPrice}},000 <u>đ</u></th>
                    </tr>
                    <tr>
                        <th colspan="5" class="text-right">Tổng tiền:</th>
                        <th class="text-danger">{{formatCurrency order.totalPrice}},000 <u>đ</u></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <a href="/me/stored/orders" class="btn btn-success mx-sm-2 mb-2">Quay lại</a>
</div>