<div class="content-wrapper" style="min-height: 650px;">
    <div class="container-fluid ">
        <div class="content-header">
            <h1 class="mb-3">Quản lý sản phẩm:</h1>
            {{#if success}}
            <div class="alert alert-success" role="alert">
                {{success}}
            </div>
            {{/if}}

            {{#if err}}
            <div class="alert alert-danger" role="alert">
                {{err}}
            </div>
            {{/if}}
            {{#if deletedCount}}
            <a class="btn btn-secondary" href="/me/trash/shoes"> <i class="fa-solid fa-trash-can"></i> Thùng rác (
                {{deletedCount}} )</a>
            {{/if}}

            <form class="form-search mt-3">
                <input type="text" placeholder="Tìm kiếm sản phẩm" class="form-control" style="width: 25%;" />
            </form> 
        </div>
        <table class="table table-stored">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 20%;">Tên
                        {{{sortable 'name' _sort}}}
                    </th>
                    <th scope="col">Kiểu dáng
                        {{{sortable 'typeDetail' _sort}}}
                    </th>
                    <th scope="col">Giá
                        {{{sortable 'price' _sort}}}
                    </th>
                    <th style="width: 22%;" scope="col">Thời gian tạo
                        {{{sortable 'createdAt' _sort}}}
                    </th>
                    <th style="width: 22%;" scope="col">Thời gian sửa
                        {{{sortable 'updatedAt' _sort}}}
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each shoes}}
                <tr class="box-items">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.typeDetail}}</td>
                    <td>{{this.price}}</td>
                    <td>{{formatDate this.createdAt "Asia/Ho_Chi_Minh" "H:m:s DD-MM-YYYY"}}</td>
                    <td>{{formatDate this.updatedAt "Asia/Ho_Chi_Minh" "H:m:s DD-MM-YYYY"}}</td>
                    <td>
                        <a href="/me/{{this._id}}/edit/shoes" class="btn btn-link"><i
                                class="fa-regular fa-pen-to-square"></i></a>

                        <a href="#" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                            data-target="#delete_shoe_model"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {{else}}
                <tr class="text-center">
                    <td colspan="7">Không có sản phẩm nào. <a href="/me/create/shoes">Thêm sản phẩm ngay</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#backPage page newUrl}}
                {{this}}
                {{/backPage}}

                {{#eachPage page maxPage newUrl}}
                {{this}}
                {{/eachPage}}

                {{#nextPage page maxPage newUrl}}
                {{this}}
                {{/nextPage}}
            </ul>
        </nav>
    </div>
</div>

<!-- Modal confirm delete course -->
<div id="delete_shoe_model" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa sản phẩm?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa sản phẩm ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-shoe" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete Hidden form --}}
<form name="delete-shoe-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var btnDeleteShoe = document.getElementById('btn-delete-shoe')
        var shoeId
        var deleteShoeForm = document.forms['delete-shoe-form']

        
        $('#delete_shoe_model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            shoeId = button.data('id')

        })

        btnDeleteShoe.onclick = function () {
            deleteShoeForm.action = '/me/' + shoeId + '/delete/shoes?_method=DELETE'
            deleteShoeForm.submit()
        }

    })

</script>