<div class="content-wrapper" style="min-height: 650px;">
    <div class="container-fluid">
        <div class="content-header">
            <h1 class="mb-2">Quản lý người dùng:</h1>
            {{#if deletedCount}}
                <a class="btn btn-secondary" href="/me/trash/users"> <i class="fa-solid fa-trash-can"></i> Thùng rác ( {{deletedCount}} )</a>
            {{/if}}
        </div>
        <table class="table table-stored">
            <thead>
                <tr >
                    <th scope="col">#</th>
                    <th scope="col" style="width: 15%;">Tên
                        {{{sortable 'name' _sort}}}
                    </th>
                    <th scope="col">email
                        {{{sortable 'email' _sort}}}
                    </th>
                    <th scope="col">Số điện thoại
                        {{{sortable 'phone' _sort}}}
                    </th>
                    <th style="width: 22%;" scope="col">Thời gian tạo
                        {{{sortable 'createdAt' _sort}}}
                    </th>
                    <th scope="col">Trạng thái
                        {{{sortable 'activeToken' _sort}}}
                    </th>
                    <th scope="col" class="text-center">Phân quyền</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td >{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{formatDate this.createdAt "Asia/Ho_Chi_Minh" "H:m:s DD-MM-YYYY"}}</td>
                    {{#ifEquals this.activeToken null}}
                        <td class="text-center"><button type="button" class="btn btn-success">Kích hoạt</button></td>
                    {{else}}
                        <td class="text-center"><button type="button" class="btn btn-danger">Chưa kích hoạt</button></td>
                    {{/ifEquals}}

                    {{#if this.isAdmin}}
                        <td class="text-center"><button type="button" class="btn btn-warning">Admin</button></td>
                    {{else}}
                        <td class="text-center"><button type="button" class="btn btn-success">Client</button></td>
                    {{/if}}

                    
                    <td>
                        <a href="/me/{{this._id}}/edit/users    " class="btn btn-link"><i class="fa-regular fa-pen-to-square"></i></a>
                    
                        <a href="#" class="btn btn-link delete-user-button" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete_user_model"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {{else}}
                <tr class="text-center">
                    <td colspan="7">Không có người dùng nào. <a href="/me/create/users">Thêm người dùng ngay</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#backPage page newUrl}}
                    {{this}}
                {{/backPage}}

                {{#eachPage page maxPage newUrl}}
                    {{this}}
                {{/eachPage}}
                
                {{#nextPage page maxPage newUrl}}
                    {{this}}
                {{/nextPage}}
            </ul>
        </nav>
    </div>
</div>

<!-- Modal confirm delete course -->
<div id="delete_user_model" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa người dùng?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa người dùng ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-user" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete Hidden form --}}
    <form name="delete-user-form" method="POST" ></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var btnDeleteUser = document.getElementById('btn-delete-user')
        var userId
        var deleteUserForm = document.forms['delete-user-form']

        var currentUserID = "{{currentUser._id}}";
        var deleteButtons = document.querySelectorAll('.delete-user-button');
        
        // When dialog confirm clicked
        $('#delete_user_model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            userId = button.data('id')
            
        })

        btnDeleteUser.onclick = function () {
            deleteUserForm.action = '/me/' + userId + '/delete/users?_method=DELETE'
            deleteUserForm.submit()
        }

        deleteButtons.forEach(function(button) {
            if (button.dataset.id === currentUserID) {
                button.style.display = 'none';
            }
        });

    })

</script>