<div class="content-wrapper" style="min-height: 650px;">
    <div class="container-fluid ">
        <div class="content-header">
            <h1 class="mb-3">Quản lý đơn hàng:</h1>

            {{#if deletedCount}}
            <a class="btn btn-secondary" href="/me/trash/orders"> <i class="fa-solid fa-trash-can"></i> Thùng rác (
                {{deletedCount}} )</a>
            {{/if}}

            <form class="form-search mt-3">
                <input type="text" placeholder="Tìm kiếm đơn hàng" class="form-control" style="width: 25%;" />
            </form>

        </div>

        <table class="table table-stored">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 12%;">Tên khách hàng
                        {{{sortable 'shippingAddress.fullName' _sort}}}
                    </th>
                    <th scope="col">Số điện thoại
                        {{{sortable 'shippingAddress.phone' _sort}}}
                    </th>
                    <th scope="col">Địa chỉ
                        {{{sortable 'shippingAddress.cityName' _sort}}}
                    </th>
                    <th scope="col">TT thanh toán
                        {{{sortable 'isPaid' _sort}}}
                    </th>
                    <th scope="col">TT giao hàng
                        {{{sortable 'isDelivered' _sort}}}
                    </th>
                    <th scope="col">Tổng giá
                        {{{sortable 'totalPrice' _sort}}}
                    </th>
                    <th scope="col">Ngày mua
                        {{{sortable 'createdAt' _sort}}}
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr class="box-items">
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.shippingAddress.fullName}}</td>
                    <td>{{this.shippingAddress.phone}}</td>
                    <td>{{this.shippingAddress.cityName}}</td>
                    <td>{{#ifEquals this.isPaid false}} Chưa thanh toán {{else}} Đã thanh toán {{/ifEquals}}</td>
                    <td>{{#ifEquals this.isDelivered false}} Chưa giao hàng {{else}} Đã giao hàng {{/ifEquals}}</td>
                    <td>{{formatCurrency this.totalPrice}},000 <u>đ</u></td>
                    <td>{{formatDate this.createdAt "Asia/Ho_Chi_Minh" "DD-MM-YYYY H:m:s"}}</td>
                    <td><a class="btn btn-info" href="/me/stored/order-detail/{{this._id}}"> Xem chi tiết </a></td>
                    <td>
                        <a href="/me/{{this._id}}/edit/order    " class="btn btn-link"><i
                                class="fa-regular fa-pen-to-square"></i></a>

                        <a href="#" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                            data-target="#delete_order_model"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {{else}}
                <tr class="text-center">
                    <td colspan="7">Không có đơn hàng nào nào.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#backPage page newUrl}}
                {{this}}
                {{/backPage}}

                {{#eachPage page maxPage newUrl}}
                {{this}}
                {{/eachPage}}

                {{#nextPage page maxPage newUrl}}
                {{this}}
                {{/nextPage}}
            </ul>
        </nav>
    </div>
</div>

<!-- Modal confirm delete course -->
<div id="delete_order_model" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa đơn hàng?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa đơn hàng này ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-order" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete Hidden form --}}
<form name="delete-order-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var btnDeleteOrder = document.getElementById('btn-delete-order')
        var orderId
        var deleteOrderForm = document.forms['delete-order-form']

        // When dialog confirm clicked
        $('#delete_order_model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            orderId = button.data('id')

        })

        btnDeleteOrder.onclick = function () {
            deleteOrderForm.action = '/me/' + orderId + '/delete/order?_method=DELETE'
            deleteOrderForm.submit()
        }
    })

</script>