<div class="content-wrapper" style="min-height: 650px;">
    <div class="container-fluid">
        <div class="content-header">
            <h1>Thùng rác đơn hàng:</h1>
            <a class="btn btn-info mt-2" href="/me/stored/orders">Danh sách đơn hàng</a>   
        </div>
        <table class="table table-stored">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" style="width: 20%;">Tên khách hàng</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Paided</th>
                    <th scope="col">Shipped</th>
                    <th scope="col">PT thanh toán</th>
                    <th scope="col">Tổng giá</th>
                    <th scope="col">Thời gian xóa</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.user.name}}</td>
                    <td>{{this.user.phone}}</td>
                    <td>{{this.shippingAddress.city}}</td>
                    <td>{{this.isPaid}}</td>
                    <td>{{this.isDelivered}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.totalPrice}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td>
                        <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}"><i class="fa-solid fa-arrow-rotate-left"></i></a>
                        
                        <a href="#" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete_order_model"><i class="fa-regular fa-trash-can"></i></a>
                    </td>
                </tr>
                {{else}}
                <tr class="text-center">
                    <td colspan="7">Thùng rác trống.</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {{#backPage page newUrl}}
                    {{this}}
                {{/backPage}}

                {{#eachPage page maxPage newUrl}}
                    {{this}}
                {{/eachPage}}
                
                {{#nextPage page maxPage newUrl}}
                    {{this}}
                {{/nextPage}}
            </ul>
        </nav>
    </div>
</div>

<!-- Modal confirm delete shoe -->
<div id="delete_order_model" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa vĩnh viễn đơn hàng?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Hành động không thể khôi phục. Bạn có chắc chắn muốn xóa đơn hàng vĩnh viễn?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-order" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete Hidden form --}}
    <form name="delete-order-form" method="POST" ></form>
    <form name="restore-order-form" method="POST" ></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {

        var btnDeleteOrder = document.getElementById('btn-delete-order')
        var orderId
        var deleteOrderForm = document.forms['delete-order-form']
        var btnRestore = $('.btn-restore')  
        var restoreOrderForm = document.forms['restore-order-form']
        
        // When dialog confirm clicked
        $('#delete_order_model').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            orderId = button.data('id')
            
        })

        btnDeleteOrder.onclick = function () {
            deleteOrderForm.action = '/me/' + orderId + '/destroy/order?_method=DELETE'
            deleteOrderForm.submit()
        }

        btnRestore.click(function(e) {
            e.preventDefault()
            var orderId = $(this).data('id')

            restoreOrderForm.action = '/me/' + orderId + '/restore/order?_method=PATCH'
            restoreOrderForm.submit()
        })

    })

</script>