<div class="container mt-100">
    <div class="cart-list">
        <table class="table mt-5">
            <thead class="thead-light">
                <tr>
                    <th class="table-product">Sản Phẩm</th>
                    <th>Đơn Giá</th>
                    <th>Số Lượng</th>
                    <th>Số Tiền</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/img/NUCG- G018.jpg" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>Giày cao gót MWC NUCG- G018</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>235.000 đ</td>
                    <td>
                        <form action="" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>235.000 đ</td>
                    <td><a href="#">Xóa</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row border-top cart-total mt-5">
        <div class="col "></div>
        <div class="col">
            <div class="row">
                <div class="col mt-2">
                    <ul>
                        <li>Tổng Tiền Hàng</li>
                        <li>Phí Vận Chuyển</li>
                    </ul>
                </div>
                <div class="col text-right">
                    <ul>
                        <li>250.000 đ</li>
                        <li>30.000 đ</li>
                    </ul>
                </div>
            </div>
            <div class="row border-top total">
                <div class="col mt-2">
                    <ul>
                        <li>Tổng Tiền</li>
                    </ul>
                </div>
                <div class="col text-right">
                    <ul>
                        <li>280.000 đ</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-address">
        <p>Thông tin đăt hàng</p>
        <form action="">
            <input type="text" name="" id="" placeholder="Họ và Tên">
            <input type="phone" placeholder="Số Điện Thoại">
            <div class="cart-address-tp">
                <select class="input-text" name="calc_shipping_provinces" required="">
                    <option value="">Tỉnh / Thành phố</option>
                </select>
                <input class="billing_address_1" name="" type="hidden" value="">
                <select class="input-text" name="calc_shipping_district" required="">
                    <option value="">Quận / Huyện</option>
                </select>
                <input class="billing_address_2" name="" type="hidden" value="">
            </div>
            <textarea name="" id="" class="form-control" placeholder="Nhập số nhà, ấp/tên đường, xã/phường"  ></textarea>
            <button type="button" class="btn ">Đặt Hàng</button>
        </form>
    </div>
</div>

<script async='async' defer='defer' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>
<script>//<![CDATA[
    window.addEventListener('load', function () {
        if (address_2 = localStorage.getItem('address_2_saved')) {
            $('select[name="calc_shipping_district"] option').each(function () {
                if ($(this).text() == address_2) { $(this).attr('selected', '') }
            })
            $('input.billing_address_2').attr('value', address_2)
        }
        if (district = localStorage.getItem('district')) {
            $('select[name="calc_shipping_district"]').html(district)
            $('select[name="calc_shipping_district"]').on('change', function () {
                var target = $(this).children('option:selected')
                target.attr('selected', '')
                $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                address_2 = target.text()
                $('input.billing_address_2').attr('value', address_2)
                district = $('select[name="calc_shipping_district"]').html()
                localStorage.setItem('district', district)
                localStorage.setItem('address_2_saved', address_2)
            })
        }
        $('select[name="calc_shipping_provinces"]').each(function () {
            var $this = $(this),
                stc = ''
            c.forEach(function (i, e) {
                e += +1
                stc += '<option value=' + e + '>' + i + '</option>'
                $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
                if (address_1 = localStorage.getItem('address_1_saved')) {
                    $('select[name="calc_shipping_provinces"] option').each(function () {
                        if ($(this).text() == address_1) {
                            $(this).attr('selected', '')
                        }
                    })
                    $('input.billing_address_1').attr('value', address_1)
                }
                $this.on('change', function (i) {
                    i = $this.children('option:selected').index() - 1
                    var str = '',
                        r = $this.val()
                    if (r != '') {
                        arr[i].forEach(function (el) {
                            str += '<option value="' + el + '">' + el + '</option>'
                            $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>' + str)
                        })
                        var address_1 = $this.children('option:selected').text()
                        var district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('address_1_saved', address_1)
                        localStorage.setItem('district', district)
                        $('select[name="calc_shipping_district"]').on('change', function () {
                            var target = $(this).children('option:selected')
                            target.attr('selected', '')
                            $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
                            var address_2 = target.text()
                            $('input.billing_address_2').attr('value', address_2)
                            district = $('select[name="calc_shipping_district"]').html()
                            localStorage.setItem('district', district)
                            localStorage.setItem('address_2_saved', address_2)
                        })
                    } else {
                        $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>')
                        district = $('select[name="calc_shipping_district"]').html()
                        localStorage.setItem('district', district)
                        localStorage.removeItem('address_1_saved', address_1)
                    }
                })
            })
        })
    })
</script>