{{#if order.orderItems}}
{{#each order.orderItems}}
<form method="post" action="/shoes/quantity/{{this._id}}?_method=PUT">
  <h3>Tên: {{this.name}}</h3>
  <p>Size: {{this.shoe.size}}</p>
  <p>Đơn giá: {{this.price}}</p>
  <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity" data-item-id="{{this._id}}">
  <button type="submit" class="btn-increase" name="action" value="increase">Tăng</button>
  <button type="submit" class="btn-decrease" name="action" value="decrease">Giảm</button>
  <img src="/uploads/{{this.image}}" style="width: 100px;" alt="">
</form>
<a href="#" class="btn-delete-order" data-id="{{this._id}}">Xóa</a>
{{/each}}
<p>Tổng tiền hàng: {{order.itemsPrice}}</p>
<p>Tiền ship: {{order.shippingPrice}}</p>
<p>Tổng tiền: {{order.totalPrice}}</p>


{{else}}
<p>{{cartEmpty}}</p>
{{/if}}

<form method="post" action="/shoes/update-cart/{{order._id}}">
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="fullName" value="{{currentUser.name}}" placeholder="Họ tên">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="phone" name="phone" value="{{currentUser.phone}}"
      placeholder="Số điện thoại">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="address" name="address" value="" placeholder="Địa chỉ">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="city" name="city" value="" placeholder="Thành phố">
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod1" value="Thanh toán bằng tiền mặc" checked>
    <label class="form-check-label" for="paymentMethod1">
      Thanh toán bằng tiền mặc khi nhận hàng
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod2" value="Thanh toán bằng Paypal">
    <label class="form-check-label" for="paymentMethod2">
      Thanh toán bằng Paypal
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Mua hàng</button>
</form>

<form name="delete-order-form" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var btnDeleteOrders = document.querySelectorAll('.btn-delete-order');
    var deleteOrderForm = document.forms['delete-order-form'];

    btnDeleteOrders.forEach(function (btnDeleteOrder) {
      var orderItemId = $(btnDeleteOrder).data('id');

      btnDeleteOrder.onclick = function () {
        deleteOrderForm.action = '/shoes/delete-cart/' + orderItemId + '?_method=DELETE';
        deleteOrderForm.submit();
      };
    });
  })

</script>