{{#if order}}
    {{#each order.orderItems}}
        <form method="post" action="/shoes/quantity/{{this._id}}?_method=PUT">
            <h3>Tên: {{this.name}}</h3>
            <p>Size: {{this.shoe.size}}</p>
            <p>Đơn giá: {{this.price}}</p>
            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity" data-item-id="{{this._id}}">
            <button type="submit" class="btn-increase" name="action" value="increase">Tăng</button>
            <button type="submit" class="btn-decrease" name="action" value="decrease">Giảm</button>
            <img src="/upload/{{this.image}}" alt="">
        </form>
    {{/each}}
    <p>Tổng tiền hàng: {{order.itemsPrice}}</p>
    <p>Tiền ship: {{order.shippingPrice}}</p>
    <p>Tổng tiền: {{order.totalPrice}}</p>

    
{{else}}
    <p>{{cartEmpty}}</p>
{{/if}} 

<form method="post" action="/shoes/update-cart/{{order._id}}?_method=PUT">
  <div class="form-group">
    <input type="text" class="form-control" id="name" name="fullName" value="{{order.user.name}}"  placeholder="Họ tên">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="phone" name="phone"  value="{{order.user.phone}}"  placeholder="Số điện thoại">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="address" name="address" value=""  placeholder="Địa chỉ">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" id="city" name="city" value=""  placeholder="Thành phố">
  </div>

  <button type="submit" class="btn btn-primary">Đặt hàng</button>
</form>




