<div class="mt-header">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Thành viên</li>
        </ol>
    </nav>
</div>
<div class="container">

    <div class="cart-list">

        <table class="table mt-5">
            <thead class="thead-light">
                <tr>
                    <th class="table-product">Sản Phẩm</th>
                    <th>Đơn Giá</th>
                    <th>Số Lượng</th>
                    <th>Kích thước</th>
                    <th>Thao Tác</th>
                </tr>
            </thead>
            <tbody>

                {{#if order.orderItems}}
                {{#each order.orderItems}}
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <img src="/uploads/{{this.image}}" alt="" width="100%">
                            </div>
                            <div class="col-9">
                                <b>{{this.name}}</b> <br>
                            </div>
                        </div>

                    </td>
                    <td>{{this.price}}.000 đ</td>
                    <td>
                        <form method="post" action="/shoes/quantity/{{this._id}}?_method=PUT" class="quantity">
                            <button type="submit" class="btn-decrease" name="action" value="decrease"><i
                                    class="fa-solid fa-minus"></i></button>
                            <input type="text" class="tiny-size" value="{{this.amount}}" name="quantity"
                                data-item-id="{{this._id}}">
                            <button type="submit" class="btn-increase" name="action" value="increase"><i
                                    class="fa-solid fa-plus"></i></button>

                        </form>
                    </td>
                    <td>{{this.size}}</td>
                    <td><a href="#" class="btn-delete-order" data-id="{{this._id}}">Xóa</a></td>
                </tr>
                {{/each}}

                {{else}}
                <tr class="text-center">
                    <td colspan="7">
                        <p>{{cartEmpty}}</p>.
                    </td>
                </tr>
                {{/if}}


            </tbody>
        </table>
    </div>
    <div class="row border-top cart-total mt-5">
        <div class="col "></div>
        <div class="col">
            <div class="row">
                <div class="col mt-2">
                    <ul>
                        <li>Tổng Tiền Hàng</li>
                        <li>Phí Vận Chuyển</li>
                    </ul>
                </div>
                <div class="col text-right">
                    <ul>
                        <li>{{#if order.orderItems}} {{order.itemsPrice}}.000 đ {{else}} 0 đ {{/if}}</li>
                        <li>{{#if order.orderItems}} {{order.shippingPrice}}.000 đ {{else}} 0 đ {{/if}}</li>
                    </ul>
                </div>
            </div>
            <div class="row border-top total">
                <div class="col mt-2">
                    <ul>
                        <li>Tổng Tiền</li>
                    </ul>
                </div>
                <div class="col text-right">
                    <ul>
                        <li>{{#if order.orderItems}} {{order.totalPrice}}.000 đ {{else}} 0 đ {{/if}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-address">
        <p>Thông tin đăt hàng</p>
        <form method="post" action="/shoes/update-cart/{{order._id}}">
            <input type="text" required id="name" name="fullName" value="{{currentUser.name}}" placeholder="Họ tên">
            <input type="text" required id="phone" name="phone" value="{{currentUser.phone}}"
                placeholder="Số điện thoại">

            <textarea name="city" id="" class="form-control"
                placeholder="Nhập tỉnh/thành phố" required></textarea>

            <textarea name="address" id="" class="form-control"
                placeholder="Nhập số nhà, ấp/tên đường, xã/phường" required></textarea>

            <div class="box-pay">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod1"
                        value="Thanh toán bằng tiền mặt" checked>
                    <label class="form-check-label" for="paymentMethod1">
                        Thanh toán bằng tiền mặt khi nhận hàng
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethod2"
                        value="Thanh toán bằng Paypal">
                    <label class="form-check-label" for="paymentMethod2">
                        Thanh toán bằng Paypal
                    </label>
                </div>
            </div>


            {{#if order.orderItems}}
            <button type="submit" class="btn cart-button">Mua hàng</button>
            <a href="/" class="btn cart-button">Quay lại</a>
            {{else}}
            <a href="/" class="btn btn-success cart-button">Quay lại</a>
            {{/if}}
        </form>
    </div>
</div>

<form name="delete-order-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnDeleteOrders = document.querySelectorAll('.btn-delete-order');
        var deleteOrderForm = document.forms['delete-order-form'];

        btnDeleteOrders.forEach(function (btnDeleteOrder) {
            var orderItemId = $(btnDeleteOrder).data('id');

            btnDeleteOrder.onclick = function () {
                deleteOrderForm.action = '/shoes/delete-cart/' + orderItemId + '?_method=DELETE';
                deleteOrderForm.submit();
            };
        });
    })

</script>
