<div class="container" style="margin-top:75px">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <div class="media border p-3">
                <img src="/img/img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>{{user.name}}</h4>
                    <p style="color: #666666;">Chỉnh sửa thông tin</p>
                </div>
            </div>
            <ul class="list-group list-group-flush list-profile">
                <li class="list-group-item"><a class="text-body" href="/profile"><i
                            class="fa-regular fa-circle-user fa"></i>Tài khoản của tôi</a></li>
                <li class="list-group-item"><a class="text-body" href="/password"><i class="fa-solid fa-key fa"></i>Đổi
                        mật khẩu</a></li>
                <li class="list-group-item"><a class="text-body" href="/shoes/my-order"><i
                            class="fa-regular fa-rectangle-list fa"></i>Đơn mua</a>
                </li>
                <li class="list-group-item"><a class="text-body" href="/log-out"><i
                            class="fa-solid fa-right-from-bracket fa"></i>Đăng xuất</a></li>
            </ul>
        </div>

        <div class="col-md-9 shadow p-3 mb-5 bg-white rounded box-profile">
            <h2>Chi tiết đơn hàng</h2>
            <hr>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>Thông tin người nhận</b></h5>
                    <p class="card-text">Tên người nhận: {{order.shippingAddress.fullName}}</p>
                    <p class="card-text">Số điện thoại: {{order.shippingAddress.phone}}</p>
                    <p class="card-text">Địa chỉ nhận hàng: {{order.shippingAddress.address}},
                        {{order.shippingAddress.wardName}}, {{order.shippingAddress.districtName}},
                        {{order.shippingAddress.cityName}}</p>
                    <p class="card-text">Ghi chú đơn hàng: {{order.note}}</p>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title"><b>Thông tin đơn hàng</b></h5>
                    <div class="row ml-1 float-left">
                        <div class="col-md-12 col-sm-12">
                            <p class="text-info">Mã đơn hàng: {{order._id}}</p>
                            {{#each order.orderItems}}
                            <div class="row">
                                <div class="col-md-2 col-sm-3 mt-3">
                                    <img class="img-circle " src="/uploads/{{this.image}}" alt="" width="100%">
                                </div>
                                <div class="col-md-5 col-sm-5 mt-3">
                                    <b>{{this.name}}</b>
                                    <br><small>Phân loại hàng - size: {{this.size}} </small>
                                </div>
                                <div class="col-md-2 col-sm-2 mt-3 col-quantity-tab col-small-mob">
                                    Số lượng
                                    <br><small>x{{this.amount}}</small>
                                </div>
                                <div class="col-md-3 col-sm-2 mt-3 col-small-mob">
                                    Giá tiền
                                    <br><small>{{formatCurrency this.price}},000 <u>đ</u></small>
                                </div>
                            </div>
                            {{/each}}
                            <div class="row">
                                <div class="col-md-9 col-sm-6 col-6  mt-3">
                                    <p class="text-secondary">Tổng tiền hàng</p>
                                    <p class="text-secondary">Phí vận chuyển</p>
                                    <h5>Thành tiền</h5>
                                </div>
                                <div class="col-md-3 col-sm-6 col- 6 mt-3">
                                    <p class="text-secondary col-itemPri-mob">{{formatCurrency order.itemsPrice}},000 <u>đ</u></p>
                                    <p class="text-secondary col-shipPri-mob">{{order.shippingPrice}},000 <u>đ</u></p>
                                    <h5 class="price price-mob">{{formatCurrency order.totalPrice}},000 <u>đ</u></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-2">
                <div class="card-body">
                    <h5 class="card-title"><b>Phương thức thanh toán</b></h5>
                    <p class="card-text">Thanh toán bằng {{order.paymentMethod}}</p>
                </div>
            </div>
            <div class="card mt-2">
                <a href="/shoes/my-order" class="btn btn-success">Quay lại</a>
            </div>

        </div>
    </div>
</div>