<div class="container" style="margin-top: 75px">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đơn hàng</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <div class="media border p-3">
                <img src="/img/img_avatar3.png" alt="" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                <div class="media-body">
                    <h4>{{user.name}}</h4>
                    <p>Chỉnh sửa thông tin</p>
                </div>
            </div>
            <ul class="list-group list-group-flush list-profile">
                <li class="list-group-item"><a class="text-body" href="/profile"><i
                            class="fa-regular fa-circle-user fa"></i>Tài khoản của tôi</a></li>
                <li class="list-group-item"><a class="text-body" href="/password"><i class="fa-solid fa-key fa"></i>Đổi
                        mật khẩu</a></li>
                <li class="list-group-item"><a class="text-body" href="/shoes/my-order"><i
                            class="fa-regular fa-rectangle-list fa"></i>Đơn mua</a>
                </li>
                <li class="list-group-item"><a class="text-body" href="/log-out"><i
                            class="fa-solid fa-right-from-bracket fa"></i>Đăng xuất</a></li>
            </ul>
        </div>

        <div class="col-md-9 shadow p-3 mb-5 bg-white rounded box-profile" style="border: solid #e6e6e6 1px;">
            <h2>Đơn hàng của tôi</h2>
            <hr>
            {{#each orders}}
            <div class="card mt-2">
                <div class="card-header">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-7">
                                <b>Mã đơn hàng - {{this._id}}</b>
                            </div>
                            <div class="col-5 text-right">
                                <button type="button" class="btn btn btn-success btn-sm">{{this.status}}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        {{#each this.orderItems}}
                        <div class="row mt-1">
                            <div class="col-2">
                                <img class="img-circle " src="/uploads/{{this.image}}" alt="" width="100%">
                            </div>
                            <div class="col-8 mt-3">
                                <b>{{this.name}}</b>
                                <br><small>Phân loại hàng - size: {{this.size}} </small>
                            </div>
                            <div class="col-2 mt-3">
                                <br><small>x{{this.amount}}</small>
                                <p class="text-danger">{{formatCurrency this.price}},000 <u>đ</u></p>
                            </div>
                        </div>
                        {{/each}}
                        <hr>
                        <div class="row">
                            <div class="col-7">
                            </div>
                            <div class="col-3 text-right">
                                <p>Tiền ship: </p>
                            </div>
                            <div class="col-2">
                                <p class="text-danger">30,000 <u>đ</u></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                            </div>
                            <div class="col-3 text-right">
                                <p>Tổng số tiền: </p>
                            </div>
                            <div class="col-2">
                                <p class="text-danger">{{formatCurrency this.totalPrice}},000 <u>đ</u></p>
                            </div>
                        </div>
                        <div class="row text-right">
                            <div class="col-12 text-right">
                                <button type="button" class="btn btn-outline-info mr-2"><a class="text-dark" href="/shoes/my-order-detail/{{this._id}}"
                                        style="text-decoration: none">Xem chi tiết</a></button>
                                <button type="button" class="btn btn-outline-info">
                                    <a class="text-dark btn-delete-order" href="#" style="text-decoration: none" data-id="{{this._id}}">Hủy đơn hàng</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>

<form name="delete-order-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var btnDeleteOrders = document.querySelectorAll('.btn-delete-order');
        var deleteOrderForm = document.forms['delete-order-form'];

        btnDeleteOrders.forEach(function (btnDeleteOrder) {
            var orderItemId = $(btnDeleteOrder).data('id');

            btnDeleteOrder.onclick = function () {
                deleteOrderForm.action = '/shoes/my-order/' + orderItemId + '/delete?_method=DELETE';
                deleteOrderForm.submit();
            };
        });
    })

</script>
