<div class="container-fluid">
    <div class="box-shoe mt-header">
        <div class="row">
            <div class="col bgsale">
                <p>Gian hàng khuyến mãi</p>
            </div>
        </div>
        <div class="filter">
            <div class="row">
                <div class="col form-arrange">
                    <form id="filterForm">
                        <label for="category"><i class="fa-solid fa-sliders"></i></label>
                        <select id="category">
                            <option value="All">Sắp xếp theo</option>
                            <option value="Down">Giá Từ Cao Xuống Thấp</option>
                            <option value="Up">Giá Từ Thấp Lên Cao</option>
                            <option value="AZ">Sắp Xếp Từ A -> Z</option>
                            <option value="ZA">Sắp Xếp Từ Z -> A</option>
                        </select>
                    </form>
                    <div class="row">
                        <form class="form-search">
                            <input class="form-control mr-sm-2 p-3" type="search"
                                placeholder="Gõ vài từ tìm kiếm nào..." aria-label="Search">
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="shoeContainer">
            {{#each shoes}}
            <div class="col-md-2 mt-4">
                <div class="img box-shoes">
                    <div class="shoes-percent">
                        <span class="pro-sale">SALE<br> OFF </span>
                    </div>
                    <a href="/shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid box-img-shoes" src="/uploads/{{this.image}}" alt="" width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                {{#if ../currentUser}}
                                {{#if (isInWishlist this._id ../wishlistItems)}}
                                <a href="/wishlist" class="btn"><i class="fa-solid fa-heart heart active"
                                        id="heart"></i></a>
                                {{else}}
                                <form action="/add-wishlist" method="post">
                                    <input type="hidden" name="shoeId" value="{{this._id}}">
                                    <input type="hidden" name="size" id="wishlistSize" value="36">
                                    <button type="button" class="btn btn-heart add-to-wishlist"
                                        data-shoe-id="{{this._id}}" data-shoe-size="36"><i
                                            class="fa-solid fa-heart heart" id="heart"></i></button>
                                </form>
                                {{/if}}
                                {{else}}
                                <a href="/login"><i class="fa-solid fa-heart heart" id="heart"></i></a>
                                {{/if}}
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="/shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <div class="row">
                                <div class="col"><del>
                                        <p>{{this.price}}.000 <u>đ</u></p>
                                    </del></div>
                                <div class="col">
                                    <p style="color: red; font-weight: bold;">{{this.priceDiscount}}.000 <u>đ</u></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</div>

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const wishlistButtons = document.querySelectorAll('.add-to-wishlist');

        wishlistButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                const shoeId = this.getAttribute('data-shoe-id');
                const shoeSize = this.getAttribute('data-shoe-size');

                fetch('/add-wishlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ shoeId: shoeId, size: shoeSize })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Xử lý khi thành công, ví dụ: đổi màu trái tim
                            this.querySelector('i.heart').classList.add('active');
                        } else {
                            // Xử lý khi có lỗi
                            alert('Có lỗi xảy ra, vui lòng thử lại!');
                        }
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    });

</script>