<div class="container-fluid">
    <div class="box-shoe mt-top ">
        <div class="filter">
            <div class="row">
                <div class="col">
                    <p>{{shoeType}}</p>
                </div>
                <div class="col form-arrange">
                    <form id="filterForm">
                        <label for="category">Sắp xếp:</label>
                        <select id="category">
                            <option value="All">All</option>
                            <option value="Down">Giá Từ Cao Xuống Thấp</option>
                            <option value="Up">Giá Từ Thấp Lên Cao</option>
                            <option value="AZ">Sắp Xếp Từ A -> Z</option>
                            <option value="ZA">Sắp Xếp Từ Z -> A</option>
                        </select>
                    </form>
                    <div class="row ">
                        <form class="form-search">
                            <input class="form-control mr-sm-2 p-3" type="search" placeholder="Tìm Kiếm"
                                aria-label="Search">
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" id="shoeContainer">
            {{#each shoes}}
            <div class="col-md-2 mt-4">
                <div class="img" style="border: solid #e6e6e6 1px;">
                    <a href="/shoes/{{this.slug}}">
                        <img loading="lazy" class="img-fluid" src="/uploads/{{this.image}}" alt="" width="100%">
                    </a>
                    <div class="caption ml-2">
                        <div class="row">
                            <div class="col">
                                7 Size
                            </div>
                            <div class="col mr-2" style="text-align: right;">
                                <a href="javascript:void(0);"><i class="fa-solid fa-heart heart" id="heart"></i></a>
                            </div>
                        </div>
                        <div class="mr-2">
                            <a href="/shoes/{{this.slug}}">
                                <b>{{this.name}}</b>
                            </a>
                            <p>{{this.price}}.000 đ</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination">
                {{#backPage page newUrl}}
                {{this}}
                {{/backPage}}

                {{#eachPage page maxPage newUrl}}
                {{this}}
                {{/eachPage}}

                {{#nextPage page maxPage newUrl}}
                {{this}}
                {{/nextPage}}
            </ul>
        </nav>
    </div>

</div>