<div class="row mt-4">
    <div class="col-lg-3">
        <form action="/shoes/add-to-cart" method="post">
            <input type="hidden" name="shoeId" value="{{shoe._id}}">
            <input type="hidden" name="amount" value="1">
            <select class="form-control" id="size" name="size">
                <option value="" selected>-- Chọn kích thước --</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
            </select>
            <button type="submit">Mua ngay</button>
        </form>
        <ul>
            <li>{{shoe.price}}</li>
        </ul>
    </div>

    <div class="col-lg-9">
        <h2>{{shoe.name}}</h2>
        <img class="card-img-top" src="/uploads/{{shoe.image}}" alt="Card image shoe">

        <p>{{shoe.description}}</p>
    </div>
</div>