<div class="container-fluid">
    <div class="row mt-top">
        <div class="col">
            <div class="wrapbox-img">
                {{#if shoe.priceDiscount}}
                <div class="shoes-percent">
                    <span class="pro-sale">SALE<br> OFF </span>
                </div>
                {{/if}}
                <a href="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{shoe.image}}" data-fancybox="gallery">
                    <img src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{shoe.image}}" alt="{{shoe.name}}" width="100%" />
                </a>
            </div>
            {{#if imageArr}}
            <div class="thumb-img">
                <ul>
                    {{#each imageArr}}
                    <li class="w-30">
                        <a href="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this}}" data-fancybox="gallery"
                            data-media="(max-width: 799px);(min-width: 800px)" data-sources="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this}}">
                            <img src="https://my-shoes-app-s3.s3.ap-southeast-1.amazonaws.com/shoes/{{this}}" alt="Image 2" />
                        </a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
        </div>

        <div class="col product-content">
            <form action="/shoes/add-to-cart" method="post" class="product-content-form">
                <input type="hidden" name="shoeId" value="{{shoe._id}}">
                <input type="hidden" name="amount" value="1">

                <h3 class="product-name">{{shoe.name}}</h3>
                {{#if shoe.priceDiscount}}
                <div class="row">
                    <div class="col-2"><del>
                            <p>{{shoe.price}}.000 <u>đ</u></p>
                        </del></div>
                    <div class="col">
                        <h3 class="price">{{shoe.priceDiscount}}.000 <u>đ</u></h3>
                    </div>
                </div>
                {{else}}
                <h3 class="price">{{shoe.price}}.000 <u>đ</u></h3>
                {{/if}}


                <div class="size mt-4">
                    <label for="">Kích thước</label>
                    <div class="size-option">
                        <!-- Thay đổi các nút button thành các nút radio để người dùng có thể chọn size -->
                        <input type="radio" class="btn btn-danger" name="size" id="size36" value="36">
                        <label for="size36">36</label>
                        <input type="radio" class="btn btn-danger" name="size" id="size37" value="37">
                        <label for="size37">37</label>
                        <input type="radio" class="btn btn-danger" name="size" id="size38" value="38">
                        <label for="size38">38</label>
                        <input type="radio" class="btn btn-danger" name="size" id="size39" value="39">
                        <label for="size39">39</label>
                        <input type="radio" class="btn btn-danger" name="size" id="size40" value="40">
                        <label for="size40">40</label>
                        <input type="radio" class="btn btn-danger" name="size" id="size41" value="41">
                        <label for="size41">41</label>
                        <input type="radio" class="btn btn-danger" name="size" id="size42" value="42">
                        <label for="size42">42</label>
                    </div>
                </div>
                <div class="order mt-4">
                    <div class="row">
                        <div class="col-6 d-grid">
                            <button type="submit" class="btn btn-block order-buy">Mua Ngay</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mt-3">
                <div class="col-12 col-md-6 d-grid">
                    <form action="/add-wishlist" method="post">
                        <input type="hidden" name="shoeId" value="{{shoe._id}}">
                        <input type="hidden" name="size" id="wishlistSize">
                        <input type="hidden" name="show" id="" value="add">
                        <button class="btn btn-light btn-block order-wish"><i class="fa-regular fa-heart"></i> Thêm vào yêu
                            thích</button>
                    </form>
                </div>
            </div>

            <div class="row text-center product-policy mt-4">
                <div class="col-4 product-policy-item">
                    <i class="fa-solid fa-award"></i>
                    <p>Bảo hành keo vĩnh viễn</p>
                </div>
                <div class="col-4 product-policy-item">
                    <i class="fa-solid fa-truck-fast"></i>
                    <p>Miễn phí vận chuyển toàn quốc cho đơn hàng từ 500k</p>
                </div>
                <div class="col-4 product-policy-item">
                    <i class="fa-solid fa-right-left"></i>
                    <p>Đổi trả dễ dàng (trong vòng 7 ngày nếu lỗi nhà sản xuất)</p>
                </div>
            </div>
            <div class="row text-center product-policy">
                <div class="col-4 product-policy-item">
                    <i class="fa-solid fa-phone-volume"></i>
                    <p>Hotline 1900.633.349 hỗ trợ từ 8h30-21h30</p>
                </div>
                <div class="col-4 product-policy-item">
                    <i class="fa-solid fa-hand-holding-heart"></i>
                    <p>Giao hàng tận nơi, nhận hàng xong thanh toán</p>
                </div>
                <div class="col-4 product-policy-item">
                    <i class="fa-solid fa-ticket"></i>
                    <p>Ưu đãi tích điểm và hưởng quyền lợi thành viên từ TOPSHOES</p>
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="detail mt-5 col">
            <div class="detail-product border">
                <h4>Chi tiết sản phẩm</h4>
            </div>
            <div class="border p-3">
                {{{shoe.description}}}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sizeInputs = document.querySelectorAll('input[name="size"]');
        const wishlistSizeInput = document.getElementById('wishlistSize');

        // Cập nhật giá trị size cho input ẩn khi chọn size
        sizeInputs.forEach(input => {
            input.addEventListener('change', function () {
                wishlistSizeInput.value = this.value;
            });
        });

        // Kiểm tra nếu size đã được chọn
        function isSizeSelected() {
            return wishlistSizeInput.value !== '';
        }

        // Kiểm tra form "Thêm vào yêu thích"
        const wishlistForm = document.querySelector('form[action="/add-wishlist"]');
        wishlistForm.addEventListener('submit', function (event) {
            if (!isSizeSelected()) {
                event.preventDefault(); // Ngăn không cho gửi form
                alert('Vui lòng chọn kích thước trước khi thêm vào yêu thích!');
            }
        });

        // Kiểm tra form "Mua Ngay"
        const orderForm = document.querySelector('form[action="/shoes/add-to-cart"]');
        orderForm.addEventListener('submit', function (event) {
            if (!isSizeSelected()) {
                event.preventDefault(); // Ngăn không cho gửi form
                alert('Vui lòng chọn kích thước trước khi mua sản phẩm!');
            }
        });
    });
</script>
<script src="/fancybox/fancybox.umd.js"></script>
<script>
    Fancybox.bind('[data-fancybox="gallery"]', {
        Toolbar: {
            display: {
                zoom: true,
                fullscreen: true,
            }
        },
        Image: {
            zoom: false, // Tắt zoom mặc định của Fancybox
            click: function (fancybox, slide) {
                if (!slide.$image) return;

                const isZoomed = slide.$image.classList.contains('is-zoomed');

                if (isZoomed) {
                    // Thu nhỏ lại ảnh về kích thước ban đầu
                    slide.$image.style.transform = '';
                    slide.$image.style.maxWidth = '';
                    slide.$image.style.maxHeight = '';
                    slide.$image.classList.remove('is-zoomed');
                } else {
                    // Phóng to ảnh
                    const scale = 4; // Tỉ lệ phóng to
                    slide.$image.style.transform = `scale(${scale})`;
                    slide.$image.style.maxWidth = `${100 * scale}vw`;
                    slide.$image.style.maxHeight = `${100 * scale}vh`;
                    slide.$image.classList.add('is-zoomed');
                }
            }
        }
    });
</script>